<div class="container">
    <h1>LOCALIZAÇÃO</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14631.154565711304!2d-46.583698102537134!3d-23.540103177894398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5e92fa7407b7%3A0x43f7c5b4d718e7b1!2s1900%20Pizzeria%20-%20Tatuap%C3%A9!5e0!3m2!1spt-BR!2sbr!4v1715135510675!5m2!1spt-BR!2sbr" 
        width="600" 
        height="450" 
        style="border: 0; position:relative; margin: 8px 30% ;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>

    <div>
        <p class="text">
            Visite-nos: <br>
            Estamos localizados na Rua das Pizzas, no 123, no coração da cidade. Venha nos fazer <br>
            uma visita e experimentar nossas deliciosas pizzas. <br>
            Contate-nos: <br>
            Para dúvidas, sugestões ou pedidos especiais, entre em contato conosco pelo telefone (XX) <br>
            XXXX-XXXX ou envie um e-mail para
        </p>
    </div>
    <app-button-pedido></app-button-pedido>

</div>