<h1>COMO PEDIR</h1>

<div class="text">
    <p>
        <strong>Pedido Online:</strong>  <br>
        Faça seu pedido de forma rápida e fácil em nosso site. Basta selecionar suas pizzas e <br>
        bebidas favoritas, adicionar ao carrinho e finalizar o pedido. Entregamos em toda a região <br>
        com rapidez e qualidade.
    </p>
    <p>
        <strong>Entrega:</strong>  <br>
        Desfrute do conforto da sua casa enquanto saboreia nossas pizzas. Nossa equipe de <br>
        entregas fará o possível para levar o sabor da BellaPizza até você em tempo hábil.
    </p>
    <p>
        <strong>Retirada na Loja:</strong>  <br>
        Preferência por retirar pessoalmente? Sem problemas! Faça seu pedido online e retire na <br>
        nossa pizzaria, garantindo a mesma qualidade e sabor que você conhece.
    </p>
    <p>
        Ficou com alguma duvida? Nos mande uma mensagem! pelo telefone <br>
        (XX) XXXX-XXXX
    </p>
</div>
<app-button-pedido></app-button-pedido>