<mat-toolbar class="example-button-row">
    <button mat-button class="example-icon" aria-label="Logo" (click)="onHome()">
        LOGO
    </button>
    <button mat-button class="example-icon" aria-label="Cardapio">
        CARDÁPIO
    </button>
    <button mat-button class="example-icon" aria-label="Promocao" (click)="onPromo()">
        PROMOÇÕES
    </button>
    <button mat-button class="example-icon" aria-label="Localizacao" (click)="onLocal()">
        LOCALIZAÇÃO
    </button>
    <button mat-button class="example-icon" aria-label="Como pedir" (click)="onPedir()">
        COMO PEDIR
    </button>
    <button mat-button class="example-icon" aria-label="Sobre" (click)="onSobre()">
        SOBRE
    </button>
</mat-toolbar>