<mat-toolbar class="example-button-row">
    <button mat-button class="example-icon" aria-label="Logo">
        LOGO
    </button>
    <button mat-button class="example-icon" aria-label="Cardapio">
        CARDÁPIO
    </button>
    <button mat-button class="example-icon" aria-label="Promocao">
        PROMOÇÕES
    </button>
    <button mat-button class="example-icon" aria-label="Localizacao">
        LOCALIZAÇÃO
    </button>
    <button mat-button class="example-icon" aria-label="Como pedir">
        COMO PEDIR
    </button>
    <button mat-button class="example-icon" aria-label="Sobre">
        SOBRE
    </button>
</mat-toolbar>