<h1>SOBRE NÓS</h1>
<div class="text">
    <p>
        Nossa Paixão por Pizzas <br>
        Na BellaPizza, somos apaixonados por pizza e dedicados a proporcionar aos nossos <br>
        clientes uma experiência única e saborosa. Nossas receitas são inspiradas na tradição <br>
        italiana, combinando ingredientes frescos com a habilidade dos nossos pizzaiolos. <br>
        Qualidade e Dedicação
    </p>
    <p>
        Valorizamos a qualidade em tudo o que fazemos, desde a seleção de ingredientes até a <br>
        forma como servimos nossos clientes. Nossa equipe está comprometida em oferecer pizzas <br>
        deliciosas e um atendimento excepcional.
    </p>



</div>
<div class="image">
    <img src="../../../assets/image 18.png" alt="Imagem de uma pizza">
</div>


<app-button-pedido></app-button-pedido>