<mat-toolbar>
    
        <mat-toolbar-row class="row">
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <img src="../../../assets/Vector.png" alt="">
            </button>
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <img src="../../../assets/Vector1.png" alt="">
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <img src="../../../assets/icon.png" alt="">
            </button>

            <img src="../../../assets/cocaCola 1.png" alt="">
            <button mat-button class="example-icon" aria-label="Example icon-button with menu icon">
                <img src="../../../assets/image 1.png" alt="">
            </button>
            <button mat-button class="example-icon" aria-label="Example icon-button with menu icon">
                <img src="../../../assets/image 2.png" alt="">
            </button>
        </mat-toolbar-row>


    <mat-toolbar-row>
        <p class="text">
                Faça seu pedido de forma rápida e fácil em nosso site. Basta selecionar suas pizzas e <br>
                bebidas favoritas, adicionar ao carrinho e finalizar o pedido. Entregamos em toda a região <br>
                com rapidez e qualidade.
                <br />
                Desfrute do conforto da sua casa enquanto saboreia nossas pizzas, nossa equipe de <br>
                entregas fará o possível para levar o sabor da BellaPizza até você em tempo hábil. <br>
                Preferência por retirar pessoalmente? Sem problemas! Faça seu pedido online e retire na <br>
                nossa pizzaria, garantindo a mesma qualidade e sabor que você conhece.
            </p>
    </mat-toolbar-row>
            
        

</mat-toolbar>