mat-toolbar {
    position: relative;
    bottom: 0;
    background-color: #D9D9D9;
    height: 441px;
}

mat-toolbar-row {
    padding: auto;
}
.text {
    text-align: center;
    color: #534C4C;
    font-size: 20px;

}

.example-spacer {
    flex: 8 8 auto;
}